html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.grid {
  display: grid;
  height: 100%;
  width: 100%;

  @media screen and (orientation: landscape) {
    grid-template-columns: min-content auto;
    grid-template-areas: "controls view";
  }

  @media screen and (orientation: portrait) {
    grid-template-rows: auto min-content;
    grid-template-areas: "view" "controls";
  }
}

// Controls

.controls {
  background-color: #4faee4;
  font-weight: bold;
  display: grid;
  grid-area: controls;

  @media screen and (orientation: landscape) {
    grid-template-rows: min-content auto;
    grid-template-areas: "start" "options";
    height: 100vh;
    width: auto;
  }

  @media screen and (orientation: portrait) {
    grid-template-rows: min-content auto;
    grid-template-areas: "start options";
    height: auto;
    width: 100vw;
  }

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  transition: transform 0.5s;
}

.pair {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;

  label {
    padding: 0 1em;
    background-color: #4795c1;
  }

  *:not(label) {
    margin: 0.2em 1em 0;

  }

  * {
    font-weight: bold;
  }
}

.algorithm-category {
  color: #000001; // Black is converted to gray on disabled elements for some reason.
  background-color: #dfe5ea;
}

.hidden {
  display: none;
}

#start {
  grid-area: start;
  padding: 0.4em 0;
  background-color: #3b5671;
  border: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: #405d7a;
  }

  &:active {
    transition: background-color 0.1s;
    background-color: #334b66;
  }
}

#options {
  grid-area: options;
  display: flex;

  @media screen and (orientation: landscape) {
    flex-flow: column nowrap;
  }

  @media screen and (orientation: portrait) {
    flex-flow: row wrap;
  }
}

.play-icon {
  height: 2.5em;
  width: auto;
  padding: 0 10px;
  fill: white;
  transition: fill 0.5s;
}

#distance-container {
  background-color: rgba(203, 229, 249, 0.6);
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  right: 0;
  top: 0;

  padding: 0.5em 0.8em 0.2em 0.2em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: right;

  font-weight: bold;
}

// Canvas

.view {
  grid-area: view;

  margin: 0 auto;
  display: block;
  position: relative;

  canvas {
    z-index: -1;
    width: 100%;
  }

  svg {
    border: 1px solid black;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
  }
}

// General

.four-digit {
  width: 3em;
}
